nav, header, footer, li {
    position: relative;
}

/*  Doesn't work
body {
    background-image: url(hiking-on-mansfield.jpg);
    background-repeat: no-repeat;
} */

nav ul li {
    display: inline;
}

article p {
    margin: 20px 50px;
}

img {
    max-width: 70%;
    height: auto;
}